
<form [formGroup]="UserForma" (ngSubmit)="GetLoginUser()">
<div class="container">
  <div class="form-group">
  <label for="UserName" class="form-label">User Name</label>
  <input type="text" name="UserName" formControlName="userName" class="form-control"/>

  <div class="error"  *ngIf="UserForma.get('userName')?.invalid && UserForma.get('userName')?.touched">
    <span *ngIf="UserForma.get('userName')?.errors?.['required']"> User Name Boş Geçilemez</span>
    <span *ngIf="UserForma.get('userName')?.errors?.['minlength']"> User Name 5 Karakterden Az Olamaz</span>
  </div>
</div>

  <div class="form-group">
    <label for="Password"  class="form-label">Password</label>
    <input type="password" class="form-control" name="Password" formControlName="password"/>
     </div><span class="error" *ngIf="UserForma.get('password')?.invalid  && UserForma.get('userName')?.touched"> Password Boş Geçilemez</span>

    <div class="form-group">
    <input type="submit" class="btn btn-lg btn-success" value="Add">
    </div>
</div>
</form>
